<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<b>THANH TUYỀN</b>
<br/>
<br/>
<input #nameInput type="text" [ngModel] ="name" ngModelChange="name=$event">
<br/>
<br/>
<button (click)="showLast=!showLast"> Toggle show last </button> 
<!--toggleComp là instance của toggleComponent-->
<toggle  [(checked)]="isChecked"> </toggle>
<toggle  [(checked)]="isChecked"> </toggle>
<toggle [(checked)]="isChecked"> </toggle>
<ng-container *ngIf="showLast"> 
  <toggle  [(checked)]="isChecked"> </toggle>
</ng-container>

